html{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    text-align: center;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
}

#block{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
#player{
    background-color: black;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 10;
    left: 20;
}

#wars{
    width: 50px;
    height: 50px;
}

#money{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 100px;
    left: 100px;
}