html{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    text-align: center;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
}

#block{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
#player{
    position: absolute;
    bottom: 10;
    left: 20;
    background-color: black;
    width: 100px;
    height: 100px;
    
    
}

#wars{
    width: 50px;
    height: 50px;
}

#money{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10%;
    left: 60%;
}

#path{
position: relative;    
top: 0;
width: 100vw;
}
header{
    display: block;
}

#pulya{
    display: block;
    width: 10px;
    height: 100vw;
    position: absolute;
    bottom: 10px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;

}
