html{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    text-align: center;
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    gap: 200px;
    border: 1px solid wheat;
    padding: 10px;
    border-radius: 10px;
}

#block{
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}
#player{
    display: none;
    position: absolute;
    top: 10px;
    left: 300px;
    background-color: black;
    width: 100px;
    height: 100px;
    
    
}

#wars{
    width: 50px;
    height: 50px;
}

#money{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: gold;
    border-radius: 100%;
}

#path{
position: relative;    
top: 0;
width: 100vw;
display: none;
}
#rara{
    width: 20px;
    height: 20px;
    background-color: yellow;
}
#header{
    display: none;
}
#player, #money {
    position: absolute;
}

#pulya{
    display: block;
    width: 10px;
    height: 100vw;
    position: absolute;
    bottom: 10px;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#form{
    display: block;
    position: absolute;
    left: 35%;
    top: 40%;
}
#snaryad {
  position: absolute;
  top: 100px; /* начальная позиция */
  left: 50px;
}
#asteroids-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* чтобы астероиды не мешали другим событиям */
}

.asteroid {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #888;
  border-radius: 50%;
  pointer-events: auto; /* чтобы можно было обнаружить столкновение */
}

#snaryad {
  position: absolute;
  width: 10px;
  height: 20px;
  background-color: red;
  display: none; /* изначально скрыта */
}
.bullet {
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: red;
  border-radius: 50% 50% 0 0;
  z-index: 10;
}
